* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh sans', sans-serif;
}

.navbar {
background: black;
height: 90px;
display: flex;
justify-content: center;
align-items: center;
font-size: large;
position: sticky;
top: 0%;    
z-index: 1000; /*stops header being covered by anything*/
}

.navbar-container{
display: flex;
justify-content: space-between;
height: 80px;
z-index: 1;
width: 100%;
max-width: 1300px;
margin: 0% auto;
padding: 0 50px;
}

#navbar-logo{
    background-color: aliceblue;
    background-size: 100%;
    background-image: linear-gradient(to top, green 0%, white 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2rem;
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}

.navbar-item{
    height: 80px;

}

.navbar-links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height:  100%;
   
}

.navbar-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

}
.navbar-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: green;
    color: white;
}

.navbar-button:hover{
    background: #686a6c;

}

.navbar-links:hover{
    color: green;
}





